<?xml version="1.0"?>
<model>
  <name>ball_red</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Ball Collector Package</name>
    <email>user@example.com</email>
  </author>
  <description>
    A red ball for the ball collection demo.
  </description>
</model>
